@import url('https://fonts.googleapis.com/css2?family=Asap&family=Cinzel&family=Playfair+Display&display=swap');
/********************************************************
 * TABLE OF CONTENTS
 * =================
 * 1. GENERAL
 * 2. MAIN
 ********************************************************/

/* 1. GENERAL */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --boat-width: calc(var(--passenger-width) * 2);
    --passenger-width: 100px;
    --passenger-boat-overlap: 80px;
}

body {
    background-color: #33415C;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 40px;
    overflow: hidden;
    font: 16px Asap;
    /* color: white; */
}

.can-close {
    position: relative;
}

button {
    padding: 16px;
    border: 1px solid #979DAC;
    border-radius: 10px;
    background-color: transparent;
    color: #979DAC;
    font: 16px Asap;
    transition: 0.3s;
    cursor: pointer;
}

.close {
    --height: 16px;
    position: absolute;
    width: var(--height, 16px);
    height: var(--height, 16px);
    top: 0;
    right: 16px;
    cursor: pointer;
}

.close::before, .close::after{
    content: "";
    position: absolute;
    right: calc(var(--height, 16px) / 2);
    width: 2px;
    height: var(--height, 16px);
    background-color: white;
}

.close:hover::before, .close:hover::after {
    background-color: #979DAC;
}

.close::before {
    transform: rotate(45deg);
}

.close::after {
    transform: rotate(-45deg);
}

button:hover {
    color: white;
    border-color: white;
}

.title {
    color: white;
    text-align: center;
    font: 32px Cinzel;
}

.unclickable {
    opacity: 25%;
    pointer-events: none;
}

/* 2. MAIN */
main {
    width: 100%;
    background-color: #1A273F;
    border-radius: 10px;
    padding: 16px;
}

.popup > *:not(:first-child) {
    margin-top: 16px;
}

#game-content {
    display: grid;
    grid-row: 1;
    grid-column: 1;
    grid-template-columns: calc(var(--passenger-width) * 3) auto calc(var(--passenger-width) * 3);
}

.passengers-container {
    display: grid;
    grid-template-columns: repeat(3, var(--passenger-width, 100px));
    grid-template-rows: repeat(2, 1fr);
}

.passenger-icon {
    width: var(--passenger-width, 100px);
}

#game-buttons, #game-content-container {
    margin-top: 16px;
}

#boat-container {
    display: grid;
    grid-template-columns: repeat(2, var(--passenger-width));
    grid-template-rows: calc(var(--passenger-width) - var(--passenger-boat-overlap)) var(--passenger-boat-overlap) calc(var(--boat-width) - var(--passenger-boat-overlap));
    transition: 2s;
}

#boat-container .passenger-icon {
    grid-row: 1 / 3;
    z-index: 2;
}

#boat-container .passenger-icon:nth-child(1) {
    grid-column: 1;
}

#boat-container .passenger-icon:nth-child(2) {
    grid-column: 2;
}

#boat {
    width: var(--boat-width, 200px);
    grid-row: 2 / 4;
    grid-column: 1 / 3;
}

/* translate the container instead so that translateX 100% is relative to container */
/* https://stackoverflow.com/questions/21557476/how-to-use-transformtranslatex-to-move-a-child-element-horizontally-100-across */
.cross-bridge {
    transform: translateX(calc(100% - var(--boat-width, 200px)));
}

.passengers-container.crossed-bridge{
    z-index: 1;
}

#error-message {
    color: #979DAC;
}

#game-content-container {
    display: grid;
}

#instructions, #solution, #won {
    grid-row: 1;
    grid-column: 1;
    justify-self: center;
    background-color: #33415C;
    color: white;
    padding: 16px;
    border-radius: 10px;
    z-index: 2;
}

#won {
    display: grid;
    place-items: center;
}

#won p {
    font: 32px Cinzel;
}